/*
#fff7ec	(255,247,236)
#96b889	(150,184,137)
#dd835e	(221,131,94)
#ae453b	(174,69,59)
#5c3137	(92,49,55)
*/

a,
.btn-link {
    color: #ae453b;
}

    a:hover {
        color: #5c3137;
        text-decoration: none;
    }

.btn-primary {
    background-color: #96b889;
    border-color: #fff7ec;
}

    .btn-primary:hover {
        background-color: #fff7ec;
        color: #000;
        border-color: #ae453b;
    }

    .btn-primary:active {
        background-color: #ae453b;
    }

.main .top-row {
    background-color: #fff7ec;
    border-color: #f4f4f4;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    background: url('/img/aramean_flag.svg');
    background-position: center;
}

    .main .top-row > a {
        margin-left: 1.2rem;
        font-size: .8em;
        background: white;
        border: 1px solid;
        padding: .2rem .3rem .1rem .3rem;
        border-radius: .1rem;
        box-shadow: 1px 1px 1px;
    }

.sidebar {
    background-image: linear-gradient(180deg, #5c3137 0%, #dd835e 70%);
}

    .sidebar .navbar-brand .name .aramaic {
        color: #fff7ec;
    }

    .sidebar .oi {
        border-radius: 50%;
        padding: .6rem;
        background: rgba(0,0,0,.5);
        font-size: .8rem;
        top: -1px;
        margin-right: .5rem;
        width: 2.6em;
        height: 2.6em;
    }

    .sidebar .navbar-brand {
        padding-top: unset;
    }


        .sidebar .navbar-brand .name {
            line-height: 0.8em;
            margin-top: 1rem;
        }

            .sidebar .navbar-brand .name .dropdown .btn {
                color: #fff;
            }

.nav-item a {
    line-height: normal;
}

    .nav-item a.active .oi {
        background-color: rgba(0,0,0, 0.9);
    }

    .nav-item a:hover .oi {
        background-color: rgba(0,0,0, 0.7);
        animation: pulse 1s infinite;
        animation-timing-function: linear;
    }
