@page "/hobbies"

@using System.Web
@using josef.Data
@using josef.Extensions

@inject IHttpClientFactory httpClientFactory

<h1><BSBadge>@TotalItems</BSBadge> Hobbies</h1>
    <hr />
    @if (items == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <BSTable>
            <BSTableHead TableHeadType="TableHeadType.Light">
                <tr>
                    <th>Hobby</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
            </BSTableHead>
            <tbody>
                @foreach (var item in items)
                {
                    <tr>
                        <td>@GetHtmlIcon(@item.HtmlIcon) @item.Title</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </BSTable>
    }

    @code {

        private Hobby[] items;

        public int TotalItems { get; set; } = 0;

        public string GetHtmlIcon(int code) => HttpUtility.HtmlDecode("&#" + code + ";");

        protected override async Task OnInitializedAsync()
        {
            var client = httpClientFactory.CreateClient("default");
            items = await client.GetJsonAsync<Hobby[]>("hobbies.json");
            TotalItems = items.Count();
        }
    }
