@page "/"

<h1>Hello, world!</h1>

Josef is a programmer/entrepreneur/visionary with 10+ years of experience in the IT industry. Specialized in back-end and front-end solutions. Has a strong logic thinking and solves complicated problems. Worked with Web Development, Systems Development, Database Development and Architecture Solutions within various of technologies. Started his own consulting company at young age. A person who is flexible, self-motivated and assumes many roles at the same time when it’s needed. Learning new languages, methods, frameworks, or techniques have never been an obstacle for him, but a positive Challenge.
<hr>