@page "/portfolio"

@using josef.Data
@inject IHttpClientFactory httpClientFactory

<h1>Portfolio</h1>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.StartDate.ToShortDateString()</td>
                    <td>@item.EndDate.ToShortDateString()</td>
                    <td>@item.Duration</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private PortfolioItem[] items;

    protected override async Task OnInitializedAsync()
    {
        var client = httpClientFactory.CreateClient("portfolioService");
        items = await client.GetJsonAsync<PortfolioItem[]>("portfolio.json");
    }
}