@page "/portfolio"

@using josef.Data
@inject PortfolioService PortfolioService
@inject HttpClient HttpClient

<h1>Portfolio</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.StartDate.ToShortDateString()</td>
                    <td>@item.EndDate.ToShortDateString()</td>
                    <td>@item.Duration</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    PortfolioItem[] items;

    protected override async Task OnInitializedAsync()
    {
        items = await PortfolioService.GetForecastAsync(DateTime.Now);
    }
}
