@page "/projects"

@using josef.Data
@inject IHttpClientFactory httpClientFactory

<h1>Projects</h1>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <BSTable>
        <BSTableHead TableHeadType="TableHeadType.None">
            <tr>
                <th>Title</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Duration</th>
            </tr>
            </BSTableHead>
            <tbody>
                @foreach (var item in items)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.StartDate.ToShortDateString()</td>
                        <td>@item.EndDate.ToShortDateString()</td>
                        <td>@item.Duration</td>
                    </tr>
                }
            </tbody>
</BSTable>
}

@code {

    private Project[] items;

    protected override async Task OnInitializedAsync()
    {
        var client = httpClientFactory.CreateClient("default");
        items = await client.GetJsonAsync<Project[]>("projects.json");
    }
}