@page "/quotes"

@using josef.Data
@using josef.Extensions

@inject IHttpClientFactory httpClientFactory

<h1><BSBadge>@TotalItems</BSBadge> Quotes</h1>
    <hr />
    @if (items == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var item in items)
        {
            <blockquote class="blockquote text-right">
            <p class="mb-0">"@item.Quotation"</p>
                <footer class="blockquote-footer"><cite title="Josef Gabrielsson">Josef Gabrielsson</cite></footer>
            </blockquote>          
        }
    }

    @code {

        private Quote[] items;

        public int TotalItems { get; set; } = 0;
        
        protected override async Task OnInitializedAsync()
        {
            var client = httpClientFactory.CreateClient("default");
            items = await client.GetJsonAsync<Quote[]>("quotes.json");
            TotalItems = items.Count();
        }
    }
