@page "/quotes"

@using josef.Data
@using josef.Extensions

@inject IHttpClientFactory httpClientFactory

<h1><BSBadge>@TotalItems</BSBadge> Quotes</h1>
    <hr />
    @if (items == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        int i = 0;
        string move;

        @foreach (var item in items)
        {
            if (i%2 == 0)
            {
                move = "right";
            }
            else
            {
                move = "left";
            }
            <blockquote class="blockquote @move">
            <p class="mb-0">@item.Quotation</p>
                <footer class="blockquote-footer"><cite title="Josef Gabrielsson">Josef Gabrielsson</cite></footer>
            </blockquote>
            i++;
        }
    }

    @code {

        private Quote[] items;

        public int TotalItems { get; set; } = 0;
        
        protected override async Task OnInitializedAsync()
        {
            var client = httpClientFactory.CreateClient("default");
            items = await client.GetJsonAsync<Quote[]>("quotes.json");
            TotalItems = items.Count();
        }
    }
