@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://www.github.com/aramean" target="_blank"><span class="oi oi-external-link">&nbsp;</span>GitHub</a>
        <a href="https://www.linkedin.com/in/josef-gabrielsson" target="_blank"><span class="oi oi-external-link">&nbsp;</span>LinkedIn</a>
    </div>

    <div class="content px-4">  
        @Body
    </div>
</div>
