name: CD

on:
  push:
    branches:
      - master

jobs:

  deploy:

    runs-on: ubuntu-latest
    
    steps:
    - name: Setup SSH Keys and known_hosts
      env:
        SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan github.com >> ~/.ssh/known_hosts
        ssh-agent -a $SSH_AUTH_SOCK > /dev/null
        ssh-add - <<< "${{ secrets.PRODUCTION_SSH_PRIVATE_KEY }}"
    - name: Test SSH connection
      env:
        SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      run: |
        ssh  -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -T sshztude@ztude.com -p 222
    - uses: actions/checkout@v1
    - name: Publish .NET project
      run: dotnet publish --configuration Release
    - uses: actions/upload-artifact@master
      name: Create artifacts
      with:
        name: artifacts
        path: /home/runner/work/josef.st/josef.st/bin/Release
    - uses: actions/download-artifact@master
      with:
        name: Download artifacts
    - run: cat artifacts
      
    - name: Deploy artifacts with Rsync
      run: rsync -v -e "ssh -p222 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" * sshztude@ztude.com:~/www/website/josef
