name: CD

on:
  push:
    branches:
      - master

jobs:

  deploy:

    runs-on: ubuntu-latest
    
    steps:
    - name: Setup SSH Keys and known_hosts
      env:
        SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan github.com >> ~/.ssh/known_hosts
        ssh-agent -a $SSH_AUTH_SOCK > /dev/null
        ssh-add - <<< "${{ secrets.PRODUCTION_SSH_PRIVATE_KEY }}"
    - name: Test SSH connection
      env:
        SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      run: |
        ssh  -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -T sshztude@ztude.com -p 222
        rsync -v -e "ssh -p222" * sshztude@ztude.com:~/www/website/josef
    - uses: actions/checkout@v1
    - name: Publish .NET project
      run: dotnet publish --configuration Release
    - uses: actions/upload-artifact@master
      name: Create artifacts
      with:
        name: artifacts
        path: /home/runner/work/josef.st/josef.st/bin/Release  
    - name: Deploy with Rsync
      run: rsync --itemize-changes --compress --archive --delete-before --update --exclude= --chown=www-josef:www-josef --chmod=Du=rwx,Dgo=rx,Fu=rw,Fgo=r --rsync-path="sudo rsync" --rsh "ssh -p 222 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" * sshztude@ztude.com:/www/website/josef
